Repository SELab-2/UGent-2, pull requests merged in 2024-04, with the labels that each got.

#156 I18n
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/DefaultErrorPage.tsx
  frontend/src/components/Header.tsx
  frontend/src/components/ProjectStudentComponent.tsx
  frontend/src/components/ProjectTeacherComponent.tsx
  frontend/src/components/Settings.tsx
  frontend/src/components/Sidebar.tsx
  frontend/src/components/SimpleTests/SimpleTests.tsx
  frontend/src/components/SimpleTests/Warneable.tsx
  frontend/src/components/Statistics.tsx
  frontend/src/components/Table.tsx
  frontend/src/components/authentication/ErrorLogin.tsx
  frontend/src/components/authentication/LoginForm.tsx
  frontend/src/components/authentication/Unauthorized.tsx
  frontend/src/i18n.tsx
  frontend/src/main.tsx
  frontend/src/pages/admin/HomeAdmin.tsx
  frontend/src/pages/student/CourseViewStudent.tsx
  frontend/src/pages/student/CoursesViewStudent.tsx
  frontend/src/pages/student/DeadlineTable.tsx
  frontend/src/pages/student/HomeStudent.tsx
  frontend/src/pages/student/ProjectCardStudent.tsx
  frontend/src/pages/student/ProjectsViewStudent.tsx
  frontend/src/pages/teacher/CourseViewTeacher.tsx
  frontend/src/pages/teacher/CoursesViewTeacher.tsx
  frontend/src/pages/teacher/CreateCourse.tsx
  frontend/src/pages/teacher/CreateProject.tsx
  frontend/src/pages/teacher/ProjectViewTeacher.tsx
  frontend/src/pages/teacher/ProjectsViewTeacher.tsx
Labels: frontend

#183 Fix npm run build and check this in Github Actions
  .github/workflows/frontend.yml
  frontend/vite.config.ts
Labels: bug, frontend

#184 adminLoader
  frontend/src/dataloaders/AdminLoader.ts
  frontend/src/main.tsx
Labels: enhancement, frontend

#178 teacher homepage
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/assets/styles/teacher_components.css
  frontend/src/pages/teacher/HomeTeacher.tsx
  frontend/src/pages/teacher/ProjectCardTeacher.tsx
Labels: frontend

#158 Real data student
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/DefaultErrorPage.tsx
  frontend/src/components/ProjectStudentComponent.tsx
  frontend/src/components/ProjectTeacherComponent.tsx
  frontend/src/components/Statistics.tsx
  frontend/src/components/authentication/Unauthorized.tsx
  frontend/src/dataloaders/CoursesTeacherLoader.ts
  frontend/src/dataloaders/ProjectsStudentLoader.ts
  frontend/src/dataloaders/loader_helpers/SharedFunctions.ts
  frontend/src/dataloaders/projectsTeacherLoader.ts
  frontend/src/main.tsx
  frontend/src/pages/student/CourseViewStudent.tsx
  frontend/src/pages/student/CoursesViewStudent.tsx
  frontend/src/pages/student/DeadlineTable.tsx
  frontend/src/pages/student/HomeStudent.tsx
  frontend/src/pages/student/ProjectCardStudent.tsx
  frontend/src/pages/student/ProjectViewStudent.tsx
  frontend/src/pages/student/ProjectsViewStudent.tsx
  frontend/src/pages/teacher/CreateProject.tsx
  frontend/src/pages/teacher/ProjectViewTeacher.tsx
  frontend/src/types/project.ts
  frontend/src/types/tableRows.ts
  frontend/src/utils/ApiInterfaces.ts
  frontend/src/utils/ApiTypesMapper.ts
  frontend/src/utils/BackendInterfaces.ts
Labels: enhancement, frontend

#197 Check if group has submissions
  backend/domain/logic/submission.py
Labels: bug, backend

#212 betere vertaling voor deadlines van en vak
  frontend/public/locales/en/translation.json
Labels: frontend

#233 clickable home cards
  frontend/src/others/helper.tsx
Labels: frontend

#236 Remove double button
  frontend/src/components/ProjectTeacherComponent.tsx
  frontend/src/pages/teacher/CreateProject.tsx
Labels: frontend

#245 More intuitive submission buttons
  frontend/src/assets/styles/students_components.css
  frontend/src/components/ProjectStudentComponent.tsx
  frontend/src/pages/student/ProjectViewStudent.tsx
Labels: frontend

#253 token invalid bug
  frontend/src/dataloaders/AdminLoader.ts
  frontend/src/dataloaders/LoginLoader.ts
  frontend/src/dataloaders/ProjectsStudentLoader.ts
  frontend/src/dataloaders/ProjectsTeacherLoader.ts
  frontend/src/dataloaders/loader_helpers/SharedFunctions.ts
  frontend/src/utils/ApiFetch.ts
Labels: bug, frontend

#255 Klikbaar gebied van een card is te groot.
  frontend/src/others/helper.tsx
  frontend/src/pages/student/ProjectCardStudent.tsx
  frontend/src/pages/teacher/ProjectCardTeacher.tsx
Labels: bug, frontend
