Repository SELab-2/UGent-2, pull requests merged in 2024-05, with the labels that each got.

#235 Remove middle scrollbar
  frontend/src/assets/styles/students_components.css
  frontend/src/assets/styles/teacher_components.css
  frontend/src/others/helper.tsx
Labels: bug, frontend

#263 Global and extension constraint
  backend/app.py
  backend/domain/simple_submission_checks/constraints/README.md
  backend/domain/simple_submission_checks/constraints/__init__.py
  backend/domain/simple_submission_checks/constraints/constraint_result.py
  backend/domain/simple_submission_checks/constraints/directory_constraint.py
  backend/domain/simple_submission_checks/constraints/extension_not_present_constraint.py
  backend/domain/simple_submission_checks/constraints/extension_only_present_constraint.py
  backend/domain/simple_submission_checks/constraints/file_constraint.py
  backend/domain/simple_submission_checks/constraints/global_constraint.py
  backend/domain/simple_submission_checks/constraints/not_present_constraint.py
  backend/domain/simple_submission_checks/constraints/only_present_constraint.py
  backend/domain/simple_submission_checks/constraints/submission_constraint.py
  backend/domain/simple_submission_checks/constraints/zip_constraint.py
  backend/fill_database_mock.py
  backend/pyproject.toml
  backend/tests/crud/test_project.py
  backend/tests/crud/test_stress.py
  backend/tests/crud/test_submission.py
  backend/tests/endpoints/test_course_endpoints.py
  backend/tests/endpoints/test_project_as_teacher.py
  backend/tests/endpoints/test_project_endpoints.py
  backend/tests/test_simple_submissions/__init__.py
  backend/tests/test_simple_submissions/test_directory_constraint.py
  backend/tests/test_simple_submissions/test_edge_case.py
  backend/tests/test_simple_submissions/test_everything1.py
  backend/tests/test_simple_submissions/test_everything2.py
  backend/tests/test_simple_submissions/test_everything_not_ok.py
  backend/tests/test_simple_submissions/test_everything_ok.py
  backend/tests/test_simple_submissions/test_extension_not_present_constraint.py
  backend/tests/test_simple_submissions/test_extension_only_present.py
  backend/tests/test_simple_submissions/test_file_constraint.py
  backend/tests/test_simple_submissions/test_file_submission.py
  backend/tests/test_simple_submissions/test_global_constraint.py
  backend/tests/test_simple_submissions/test_not_a_zip.py
  backend/tests/test_simple_submissions/test_not_present_constraint.py
  backend/tests/test_simple_submissions/test_only_present_constraint.py
  backend/tests/test_simple_submissions/test_simple.py
  backend/tests/test_simple_submissions/test_simple_submission.py
  backend/tests/test_simple_submissions/test_wrong_name_zip.py
Labels: backend

#243 fix: load course after creating and show deadline as -
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/AddWarning.tsx
  frontend/src/components/Archive.tsx
  frontend/src/components/CopyLink.tsx
  frontend/src/components/LeaveCourse.tsx
  frontend/src/components/ManageCourse.tsx
  frontend/src/components/RemoveWarning.tsx
  frontend/src/dataloaders/loader_helpers/SharedFunctions.ts
  frontend/src/pages/teacher/CoursesViewTeacher.tsx
  frontend/src/pages/teacher/CreateCourse.tsx
  frontend/src/types/tableRows.ts
Labels: frontend

#262 Link object te veel.
  frontend/src/others/helper.tsx
Labels: bug, frontend

#254 Submission
  frontend/src/components/ProjectStudentComponent.tsx
  frontend/src/dataloaders/ProjectsStudentLoader.ts
  frontend/src/pages/student/ProjectViewStudent.tsx
  frontend/src/types/project.ts
  frontend/src/utils/ApiInterfaces.ts
  frontend/src/utils/api/Submission.ts
Labels: frontend

#274 Debug flag set automatically when tests are run
  backend/tests/endpoints/__init__.py
Labels: backend

#275 route: Statistics for a project
  backend/controllers/routes/project.py
  backend/db/models.py
  backend/domain/logic/group.py
  backend/tests/endpoints/test_project_endpoints.py
Labels: backend

#259 Fix: teacher loader
  frontend/src/dataloaders/loader_helpers/SharedFunctions.ts
Labels: frontend

#252 Join course
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/assets/styles/students_components.css
  frontend/src/dataloaders/JoinCourse.ts
  frontend/src/main.tsx
  frontend/src/pages/root.tsx
  frontend/src/pages/student/CoursesViewStudent.tsx
  frontend/src/pages/student/JoinCourse.tsx
  frontend/src/utils/api/Student.ts
Labels: frontend

#260 Adminloader
  frontend/src/components/ProjectStudentComponent.tsx
  frontend/src/dataloaders/AdminLoader.ts
  frontend/src/pages/admin/HomeAdmin.tsx
Labels: frontend

#261 checkbox css fixed
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ProjectTeacherComponent.tsx
Labels: frontend

#288 finished
  frontend/src/components/ProjectTeacherComponent.tsx
Labels: frontend

#281 fix: show error when link is wrong etc
  frontend/src/main.tsx
Labels: frontend

#279 feat: add string when data is empty
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/assets/styles/teacher_components.css
  frontend/src/others/helper.tsx
  frontend/src/pages/student/DeadlineTable.tsx
  frontend/src/pages/student/HomeStudent.tsx
  frontend/src/pages/teacher/HomeTeacher.tsx
Labels: frontend

#290 Remove error handlers
  backend/app.py
  backend/controllers/authentication/errors.py
  backend/controllers/authentication/role_dependencies.py
  backend/controllers/routes/group.py
  backend/controllers/routes/login.py
  backend/controllers/routes/submission.py
  backend/controllers/routes/teacher.py
  backend/db/database_errors.py
  backend/domain/logic/basic_operations.py
  backend/domain/logic/course.py
  backend/domain/logic/errors.py
  backend/domain/logic/group.py
  backend/domain/logic/project.py
  backend/domain/logic/submission.py
  backend/errors/authentication_errors.py
  backend/errors/base_error.py
  backend/errors/database_errors.py
  backend/errors/logic_errors.py
  backend/tests/crud/test_edge_cases.py
Labels: backend

#292 feat: leave course as student
  frontend/src/assets/styles/students_components.css
  frontend/src/components/LeaveCourseStudent.tsx
  frontend/src/components/LeaveCourseTeacher.tsx
  frontend/src/pages/student/CourseViewStudent.tsx
  frontend/src/pages/teacher/CourseViewTeacher.tsx
  frontend/src/utils/api/Student.ts
Labels: frontend

#289 Add server configuration
  server/delphi-backend.container
  server/delphi-frontend.container
  server/nginx.conf
Labels: backend

#282 Add endpoint to download all submissions
  backend/controllers/routes/project.py
  backend/domain/logic/submission.py
Labels: backend

#296 Fix eslint
  .github/workflows/frontend.yml
  frontend/src/pages/root.tsx
Labels: frontend

#285 feat: archive a course + no buttons when archived
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/Archive.tsx
  frontend/src/dataloaders/loader_helpers/SharedFunctions.ts
  frontend/src/pages/teacher/CourseViewTeacher.tsx
  frontend/src/pages/teacher/CoursesViewTeacher.tsx
Labels: frontend

#309 Fix bugs
  backend/config.py
  backend/db/models.py
Labels: bug, backend

#315 add other teacher to course
  frontend/src/components/AddWarning.tsx
  frontend/src/components/CopyLink.tsx
  frontend/src/components/ManageCourse.tsx
  frontend/src/dataloaders/loader_helpers/SharedFunctions.ts
  frontend/src/pages/student/CourseViewStudent.tsx
  frontend/src/pages/teacher/CourseViewTeacher.tsx
  frontend/src/utils/ApiInterfaces.ts
Labels: frontend

#304 Submission tests
  backend/errors/authentication_errors.py
  backend/errors/base_error.py
  backend/errors/database_errors.py
  backend/errors/logic_errors.py
  backend/tests/endpoints/test_submission_endpoints.py
Labels: backend

#313 Add member count to groups
  backend/db/models.py
Labels: backend

#318 Add secondary id to groups
  backend/db/models.py
  backend/domain/logic/group.py
  backend/domain/logic/submission.py
Labels: backend

#317 Make first user admin
  backend/controllers/authentication/authentication_controller.py
  backend/errors/database_errors.py
Labels: backend

#319 frontend global & extension constraints
  backend/fill_database_mock.py
  frontend/package-lock.json
  frontend/package.json
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/assets/styles/SimpleTests/information.css
  frontend/src/assets/styles/SimpleTests/simple_checks.css
  frontend/src/components/ProjectStudentComponent.tsx
  frontend/src/components/ProjectTeacherComponent.tsx
  frontend/src/components/SimpleTests/DummyData.tsx
  frontend/src/components/SimpleTests/Information.tsx
  frontend/src/components/SimpleTests/SimpleTests.tsx
Labels: frontend

#323 Sidebar topbar ux
  frontend/src/assets/styles/mainpage.css
  frontend/src/assets/styles/students_components.css
Labels: frontend

#257 Group join
  frontend/package-lock.json
  frontend/src/components/ProjectStudentComponent.tsx
  frontend/src/dataloaders/ProjectsStudentLoader.ts
  frontend/src/pages/student/ProjectViewStudent.tsx
  frontend/src/types/project.ts
  frontend/src/utils/ApiInterfaces.ts
  frontend/src/utils/api/Course.ts
  frontend/src/utils/api/Groups.ts
  frontend/src/utils/api/Project.ts
  frontend/src/utils/api/Teacher.ts
Labels: frontend

#333 Fix course/project archival
  backend/domain/logic/course.py
  backend/domain/logic/group.py
  backend/domain/logic/project.py
Labels: bug, backend

#324 Betere scrollbars
  frontend/src/assets/styles/mainpage.css
  frontend/src/assets/styles/teacher_components.css
  frontend/src/components/ProjectTeacherComponent.tsx
  frontend/src/pages/teacher/CreateProject.tsx
  frontend/src/pages/teacher/ProjectViewTeacher.tsx
Labels: bug, frontend

#338 Set language as lowercase
  backend/db/models.py
  backend/tests/endpoints/test_user_endpoints.py
Labels: bug, backend

#339 Optimize frontend
  frontend/src/dataloaders/ProjectsStudentLoader.ts
  frontend/src/dataloaders/loader_helpers/SharedFunctions.ts
Labels: frontend

#346 zelfde type requiredFiles voor Student & Teacher
  frontend/src/components/ProjectStudentComponent.tsx
  frontend/src/components/ProjectTeacherComponent.tsx
  frontend/src/components/SimpleTests/SimpleTests.tsx
  frontend/src/pages/teacher/CreateProject.tsx
  frontend/src/pages/teacher/ProjectViewTeacher.tsx
  frontend/src/types/project.ts
Labels: frontend

#347 Indienings pagina visuele kleine fixes
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/assets/styles/students_components.css
  frontend/src/components/ProjectStudentComponent.tsx
Labels: frontend

#334 Refactor submissions
  backend/controllers/routes/submission.py
  backend/domain/logic/submission.py
  backend/fill_database_mock.py
  backend/tests/crud/test_edge_cases.py
  backend/tests/crud/test_stress.py
  backend/tests/crud/test_submission.py
Labels: backend

#350 Comment out de "hidden projects" tabel.
  frontend/src/pages/teacher/ProjectsViewTeacher.tsx
Labels: frontend

#351 Herselecteren file na submit
  frontend/src/components/ProjectStudentComponent.tsx
Labels: frontend

#345 Update dependencies
  backend/poetry.lock
  frontend/package-lock.json
  frontend/package.json
Labels: frontend, backend

#349 Move submit button to bottom of page and add translation
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/Header.tsx
  frontend/src/components/ProjectStudentComponent.tsx
Labels: frontend

#329 feat: teacher can leave course + archive when needed
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/LeaveCourseStudent.tsx
  frontend/src/components/LeaveCourseTeacher.tsx
  frontend/src/pages/teacher/CourseViewTeacher.tsx
  frontend/src/utils/api/Teacher.ts
Labels: frontend

#355 docker file
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/assets/styles/SimpleTests/simple_checks.css
  frontend/src/assets/styles/teacher_components.css
  frontend/src/components/ProjectStudentComponent.tsx
  frontend/src/components/ProjectTeacherComponent.tsx
  frontend/src/components/RegularButton.tsx
  frontend/src/components/SelectionBox.tsx
  frontend/src/components/SimpleTests/SimpleTests.tsx
  frontend/src/pages/teacher/CoursesViewTeacher.tsx
  frontend/src/pages/teacher/CreateProject.tsx
  frontend/src/pages/teacher/ProjectViewTeacher.tsx
  frontend/src/pages/teacher/ProjectsViewTeacher.tsx
  frontend/src/types/project.ts
  frontend/src/utils/ApiInterfaces.ts
  frontend/src/utils/ApiTypesMapper.ts
  frontend/src/utils/BackendInterfaces.ts
  frontend/src/utils/InputInterfaces.ts
Labels: frontend

#358 Add submission status to export
  backend/domain/logic/submission.py
Labels: backend

#357 Enkele UX fixes
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/assets/styles/SimpleTests/information.css
  frontend/src/assets/styles/SimpleTests/simple_checks.css
  frontend/src/assets/styles/students_components.css
  frontend/src/assets/styles/teacher_components.css
  frontend/src/components/ProjectStudentComponent.tsx
  frontend/src/components/ProjectTeacherComponent.tsx
  frontend/src/components/SimpleTests/SimpleTests.tsx
  frontend/src/pages/teacher/CreateProject.tsx
  frontend/src/pages/teacher/ProjectViewTeacher.tsx
  frontend/src/utils/ScrollBarWidth.ts
Labels: frontend

#361 add the table to course student
  frontend/src/pages/student/CoursesViewStudent.tsx
Labels: frontend

#369 Add remove roles on admin page
  frontend/src/pages/admin/HomeAdmin.tsx
  frontend/src/pages/admin/OperationButton.tsx
Labels: frontend

#366 Eenvoudige bestandsstructuur: mappen en bestanden worden verkeerd geplaatst.
  frontend/src/components/SimpleTests/SimpleTests.tsx
Labels: bug, frontend

#367 Laat ook ExtensionOnlyPresentConstraint toe bij locale constraints
  backend/domain/simple_submission_checks/constraints/README.md
  frontend/src/components/SimpleTests/SimpleTests.tsx
Labels: bug, frontend

#370 students can see archived projects
  frontend/src/pages/student/ProjectsViewStudent.tsx
Labels: frontend

#371 Fix docker library
  backend/poetry.lock
Labels: bug, backend

#376 Make user 7 admin, student and teacher
  backend/fill_database_mock.py
Labels: backend

#379 fix: css admin
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/assets/styles/admin.css
  frontend/src/pages/admin/HomeAdmin.tsx
  frontend/src/pages/admin/Person.tsx
Labels: frontend

#377 Bugfix save knop voor docker
  frontend/src/components/ProjectTeacherComponent.tsx
Labels: bug, frontend

#380 Add admins to mock data
  backend/fill_database_mock.py
Labels: backend

#381 Fix translation
  frontend/src/pages/teacher/ProjectViewTeacher.tsx
Labels: frontend

#372 Enforce max group size
  backend/domain/logic/group.py
Labels: bug, backend

#378 fix typo + simpele tests info link
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/assets/styles/SimpleTests/simple_checks.css
  frontend/src/components/SimpleTests/SimpleTests.tsx
Labels: bug, frontend

#391 update deadline bug
  frontend/src/pages/student/CoursesViewStudent.tsx
  frontend/src/pages/teacher/CoursesViewTeacher.tsx
Labels: frontend

#392 cant make project for archived course
  frontend/src/components/ProjectTeacherComponent.tsx
Labels: frontend

#393 Constraint bug parsing
  backend/domain/simple_submission_checks/constraints/extension_not_present_constraint.py
  backend/tests/test_simple_submissions/test_everything_not_ok.py
  backend/tests/test_simple_submissions/test_everything_ok.py
  backend/tests/test_simple_submissions/test_extension_not_present_constraint.py
  backend/tests/test_simple_submissions/test_global_constraint.py
  frontend/src/components/SimpleTests/SimpleTests.tsx
Labels: bug, backend

#396 extension -> not_present_extension in fill mock
  backend/fill_database_mock.py
Labels: bug, backend

#395 Bug fix deadline
  frontend/src/components/ProjectTeacherComponent.tsx
Labels: frontend

#397 Bug create project
  frontend/src/components/ProjectTeacherComponent.tsx
  frontend/src/pages/teacher/CreateProject.tsx
Labels: frontend

#394 Add option to disable file constraints
  frontend/public/locales/en/translation.json
  frontend/public/locales/nl/translation.json
  frontend/src/components/ProjectStudentComponent.tsx
  frontend/src/components/ProjectTeacherComponent.tsx
  frontend/src/pages/student/ProjectViewStudent.tsx
  frontend/src/pages/teacher/ProjectViewTeacher.tsx
  frontend/src/types/project.ts
Labels: frontend

#400 Add admin
  backend/fill_database_mock.py
Labels: backend

#405 fix bug
  frontend/src/pages/teacher/CreateProject.tsx
Labels: frontend

#403 fix: documentation
  docs/documentatie.md
  docs/index.md
Labels: documentation
